<div class="card-head">
  <div class="product-img pt-5">
    <img src={{product.image}} alt="product-img">
  </div>
</div>
<div class="card-body">
  <div class="product-desc">
    <span class="product-title">
      {{product.title}}
    </span>
    <div class="product-description">
      <span style="color: black;">
        {{product.description}}
      </span>
    </div>
  </div>
  <div class="product-properties">
    <span class="product-price">
      $<b>{{product.price}}</b>
    </span>
    <button>Add to cart</button>
  </div>
</div>
